[submodule "src/external/assimp"]
	path = src/external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "src/external/glfw"]
	path = src/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "src/external/glm"]
	path = src/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "src/external/stb"]
	path = src/external/stb
	url = https://github.com/nothings/stb.git
[submodule "src/external/SPIRV-Cross"]
	path = src/external/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "src/external/volk"]
	path = src/external/volk
	url = https://github.com/zeux/volk.git
[submodule "src/external/vma"]
	path = src/external/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
